@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  width: 100%;
}

body {
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: #000;
}

.appWrapper {
  width: 100%;
}

.appContentWrapper {
  width: 100%;
  max-width: 500px;
  min-height: 100vh;
  height: auto;
  background-color: #f1efe8;
  color: black;
  position: relative;
}

.appTitle {
  font-family: "inter";
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 5rem;
  margin-top: 2rem;
  line-height: 0.8;
}

.libraryLinkButton {
  font-size: 2rem;
  font-weight: 800;
  padding: 20px 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.bookItem {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  aspect-ratio: 0.7;

  -webkit-box-shadow: 1px 4px 15px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 1px 4px 15px 0px rgba(196, 196, 196, 1);
  box-shadow: 1px 4px 15px 0px rgba(196, 196, 196, 1);
}

.footer {
  height: 300px;
  background-color: #ffe438;
}

.bookListContainer-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border-top: 2px solid black;
}

.bookListContainer-picture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}

@media (max-width: 500px) {
  .appTitle {
    font-size: 3.5rem;
  }

  .libraryLinkButton {
    font-size: 1.5rem;
  }
}
